.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav__logo {
    background-size: 100px;
}

.nav container {
    background-image: url("https://i.imgur.com/BtmEsi2.png");
    background-size: cover;
}